<%- include("includes/header.ejs") %>

<body>
    <div class="container">
        <h1 class="text-center my-3">Post Using API</h1>
        <a href="/posts/create" class="btn btn-primary mb-3">Create New Post</a>

        <div class="row">

            <% posts.forEach(p=> {%>
                <div class="col-lg-3">
                    <div class="card text-bg-dark mb-3" style="max-width: 20rem;">
                        <div class="card-header d-flex justify-content-between">
                            @<%= p.username %>
                            <div>
                                <form action="/posts/<%= p.id %>?_method=DELETE" method="post">
                                    <a href="/posts/<%= p.id %>" class="btn btn-sm btn-secondary">View</a>
                                    <a href="/posts/edit/<%= p.id %>" class="btn btn-sm btn-warning">Edit</a>
                                    <button onclick="return confirm('Do you want to delete this post?')" class="btn btn-sm btn-danger">Delete</button>
                                </form>
                                <!-- <a href="/posts/delete/<%= p.id %>" onclick="return confirm('Do you want to delete this post?')" class="btn btn-sm btn-danger">Delete</a> -->
                            </div>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title"><%= p.title %></h5>
                            <p class="card-text">
                                <%= p.content %>
                            </p>
                        </div>
                    </div>

                </div>
                <% }); %>
        </div>
    </div>
</body>
</html>